
.CharacterDiv {
    background:rgb(209, 197, 180);
    color:rgb(53, 52, 63);
    padding:15px;
}



.Tooltip {
    position: relative;
    display: inline-block;
}
.Tooltip .TooltipText {
    visibility: hidden;
    background-color: #eee;
    color: #222;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    left:50px; /* offset to move out of the way of the mouse */
    z-index: 1;
    opacity: 0.9;
}
.Tooltip:hover .TooltipText {
    visibility: visible;
}
.OpsTooltipPre { text-align:left }

/*
===============================================================================
Styles shared accross various sections/blocks
===============================================================================
*/
.BlockDiv {
    background: #222;
    color: #ddd;
}
.BlockTitleDiv {
    margin:0;
    background:black;
    color: #eee;
    font-size: 24px;
    text-align: center;
}
.BlockContentDiv {
}

/*
===============================================================================
StatRowDiv styles
row with modifiers/proficiency score/etc, i.e. SkillRow ClassDCRow
===============================================================================
*/
.StatRowDiv {
    height:38px;
    /*border:1px solid white; USE FOR DEBUGGING ALIGNMENT */
    font-size:18px;
}
.StatRowDiv .Span {
    display:inline-block;
    height:38px;
    vertical-align: middle;
}
.StatRowDiv .OneLine {
    line-height:38px;
}
.StatRowDiv .TwoLine {
    line-height:19px;
}
.StatRowDiv .BoxSpan {
    border: 1px solid black;
    height:36px; /* 38 - 2 for border */
    background:#eee; color: black;
    margin:0 1px;
    text-align:center;
}
.StatRowDiv .TwoLineBoxSpan {
    width: 40px;
    font-size:15px;
}
.StatRowDiv .ModifierSpan {
    width: 58px;
    font-size:30px;
}
.StatRowDiv .BigText {
    font-size:30px;
}
.Curved { border-radius: 6px; }
.Centered { text-align:center; }



/*
===============================================================================
CharacterIdentityDiv
===============================================================================
*/
.CharacterIdentityDiv {
    display: flex;
}
.CharacterIdentityDiv > div {
    margin-right: 2px;
}
.CharacterIdentityDiv .FieldDiv {
    background:#eee;color:black;
    border: 1px solid #900;
}
.CharacterIdentityDiv .RowDiv {
    margin:2px 0;
}

.CharacterIdentityDiv .Label {
    font-size:12px;
    display:block;
    margin:0 3px;
}
.CharacterIdentityDiv .Value {
    display:block;
    margin:0 8px;
}

.CharacterIdentityDiv .ImageDiv {
    width:200px;
}
.CharacterIdentityDiv .NameXpDiv {
    width:350px;
}
.CharacterIdentityDiv .AncestryDiv {
    width:350px;
}
.CharacterIdentityDiv .LevelDiv {
    width:90px;
    text-align: center;
}
.CharacterIdentityDiv .AncestryDiv .SizeAlignmentTraitsDiv {
    width:350px;
    display: flex;
}
.CharacterIdentityDiv .AncestryDiv .SizeAlignmentTraitsDiv .sizeDiv {
    width:60px;
}
.CharacterIdentityDiv .AncestryDiv .SizeAlignmentTraitsDiv .alignmentDiv {
    width:90px;
}
.CharacterIdentityDiv .AncestryDiv .SizeAlignmentTraitsDiv .traitsDiv {
    width:120px;
    flex-grow:1;
}

.characterNameDiv .Value { font-size: 60px; line-height: 60px; }
.playerNameDiv .Value { font-size: 30px;  line-height: 30px; }
/*.AncestryDiv .Value { font-size: 18px; line-height: 18px; }*/
.AncestryDiv .sizeDiv .Value { font-size: 12px; }
.deityDiv .Value { font-size: 12px; line-height: 12px; }

.levelDiv .Label { margin:0; background:black; color: #eee; font-size: 30px; }
.levelDiv .Value {font-size:40px; line-height: 40px; }
.heroPointsDiv .Label { font-size: 16px; }
.heroPointsDiv .Value {font-size:40px; line-height: 40px; }



/*
===============================================================================
MainStatsDiv
===============================================================================
*/
.MainStatsDiv {
    display: flex;
}
.MainStatsDiv .Column1 {
    width:300px;
    margin-right:10px;
}
.MainStatsDiv .Column2 {
    width:400px;
    margin-right:10px;
}
.MainStatsDiv .Column3 {
    width:200px;
}

.AbilityScoresContentDiv .BlockRowDiv {
    display: flex;
    justify-content: space-between;
    padding:0 10px;
}

.AbilityScoresContentDiv .AbilityLabel {
    font-size:30px;
}

.ClassDCBlockDiv { margin-top:10px; }
.SavingThrowsBlockDiv { margin-top:10px; }

.HitPointsContentDiv { text-align:center }
.HitPointsBlockDiv .CurrentHPSpan, .HitPointsBlockDiv .MaxHPSpan {
    width:60px;
}

/*
===============================================================================
FeatsDiv
===============================================================================
*/
.FeatsDiv {
    display: flex;
}
.FeatsLeftDiv {
    margin-right:8px;
}
.FeatsDiv .BlockDiv {
    width:400px;
}
.FeatsDiv .BlockContentDiv {
    padding:1px;
}
.FeatsDiv .FieldDiv {
    background:#eee;color:black;
    border: 1px solid #900;
    margin:5px;
}

/*
===============================================================================
SkillsDiv
===============================================================================
*/
.SkillsBlockDiv {
    display:inline-block;
    width:400px;
}
.SkillsBlockDiv .BlockRowDiv {
    display:flex;
    line-height:40px;
}
.SkillsBlockDiv .BlockRowDiv .SkillLabel {
    width:120px;
    text-align:right;
    margin-right:5px;
    font-size:20px;
}
.SkillsBlockDiv .BlockRowDiv .Proficiency {
    margin-right:10px;
}


.hpDiv { }
